 body{
min-width:375px;
max-width:1440px;
margin:0 auto;
font-family:Montserrat,Arial,sans-serif
}
.description{
font-style:normal;
font-weight:normal;
font-size:9px;
line-height:13px;
color:#000;
opacity:.5
}
.button,.link{
text-transform:uppercase;
font-style:normal;
font-weight:500;
font-size:13px
}
.button{
background:none
}
.title{
font-style:normal;
font-weight:bold;
font-size:20px;
line-height:20px;
color:#000
}
.subtitle{
text-transform:uppercase;
font-style:normal;
font-weight:bold;
font-size:10px;
line-height:10px;
letter-spacing:.07em;
color:#000;
opacity:.5
}
.form__price{
margin:0 8px 0 0;
font-style:normal;
font-weight:bold;
font-size:20px;
line-height:28px
}
.promo__link,.product__link,.look__link,.product__link-others{
text-decoration:none;
color:#000;
cursor:pointer
}
.header{
display:flex;
justify-content:space-between;
min-height:70px;
margin:0;
padding:0
}
.header__logo-link{
display:flex;
height:100%
}
.header__logo-pic{
padding:22px 0 0 29px;
width:98px;
height:37px
}
.header__lang-switcher{
display:none
}
.header__menu{
display:flex;
align-self:flex-end;
width:70px;
height:70px;
background:#f5f5f3;
cursor:pointer
}
.header__burger{
align-self:center;
margin:auto
}
.header__burger-line{
display:block;
width:26px;
height:3px;
background:#000
}
.header__burger-line:first-of-type{
margin-bottom:5px
}
@media (min-width:992px){
.header{
min-height:92px
}
.header__logo-wrap{
display:flex;
justify-content:space-between;
min-width:461px;
background:#000
}
.header__logo-pic{
padding:42px 0 0 55px
}
.header__lang-switcher{
position:relative;
display:block;
width:50px;
align-self:center;
padding:14px 20px 0 0
}
.header__lang-ru{
text-decoration:none;
cursor:pointer;
color:#FFF;
font-weight:500;
line-height:normal;
font-size:20px
}
.header__lang-ru::after{
position:absolute;
top:20px;
right:23px;
display:block;
content:"";
width:7px;
height:6px;
border:2px solid #FFF;
border-right-color:transparent;
border-top-color:transparent;
-webkit-transform:rotate(-44deg);
-ms-transform:rotate(-44deg);
transform:rotate(-44deg)
}
.header__menu{
width:92px;
height:92px;
margin-right:0
}
.header__burger-line:first-of-type{
margin-bottom:5px
}
.header__burger-line{
width:35px;
height:4px
}

}
.promo{
width:100%
}
.promo__wrap{
background-image:url(../images/MainPic_mob.png);
background-repeat:no-repeat;
width:100%;
background-size:cover;
background-position:0 -55px;
height:529px;
display:flex;
flex-flow:column;
justify-content:flex-end
}
.promo__title{display:inline;position:relative;top:-7px;left:26px;z-index:10;font-weight:bold;line-height:51px;font-size:50px;}
.promo__description,.promo__link,.promo__social-content1{
display:none
}
.promo__social-mob{position: relative;top: -4px;padding:19px;left:0;right:0;width:28px;height:18px;background-image:url(../images/scroll-mob.svg);background-repeat:no-repeat;background-position:center;align-self:center;cursor:pointer;}
.promo__social-content1{
flex:1
}
.social{
display:flex;
justify-content:space-between;
width:153px;
list-style:none
}
@media (min-width:992px){
.promo{
background:linear-gradient(to right,#000 461px,#FFF 461px);
height:808px;
display:flex;
flex-flow:column
}
.promo__wrap{
height:716px;
display:flex;
align-items:center;
background-image:none;
flex-flow:row;
justify-content:flex-start
}
.promo__social-mob{
display:none
}
.promo__wrap-img{
background-image:url(../images/MainPic.png);
background-repeat:no-repeat;
z-index:10;
height:562px;
width:735px;
background-position:right
}
.promo__text{
padding:136px 0 0 55px;
width:555px;
height:497px;

}
.promo__title{position:relative;left:0;top:0;width:475px;height:164px;font-weight:bold;line-height:82px;font-size:80px;text-align:left;margin-bottom:5px;}
.promo__description,.promo__link,.promo__social{
display:inline-block
}
.promo__description{margin-bottom:61px;margin-top: 20px;font-style:normal;font-weight:normal;font-size:14px;line-height:22px;letter-spacing:0;color:#000;opacity:.5;width:426px;height:100px;opacity:1;}
.promo__buttons{
display:flex;
justify-content:space-between;
width:490px
}
.promo__link.button{border:1.5px solid #000;text-align:center;line-height:3.5em;width: 200px;}
.promo__link.link{
position:relative;
width:232px;
line-height:3.5em
}
.promo__link.link::after{position:absolute;top: 18px;right: 0px;display:block;content:"";width:44px;height:12px;background-image:url(../images/arrow.svg);background-repeat:no-repeat;background-position:center;}
.promo__social{
display:flex
}
.promo__social-content1{
display:flex;
flex:1
}
.social{
margin-top:8px;
display:flex;
justify-content:space-between;
width:153px;
list-style:none;
margin-left:11px
}
.scroll{
flex:1;
display:flex
}
.promo__scroll{
position:relative;
top:6px;
left:-13px;
display:flex;
justify-content:flex-end;
bottom:39px;
height:46px;
background-image:url(../images/scroll.svg);
background-repeat:no-repeat;
width:30px
}

}
@media (min-width:520px ) and (max-width:991px){
.promo__text{
   text-align:center;
}
.promo__title{
    
    text-align:center;}

}
.product{
background:#FAE8E4;
width:100%
}
.product__wrap{
display:flex;
flex-flow:column;
align-items:center;
width:100%;
height:596px
}
.product__wrap-img{
display:flex;
width:80%;
height:55%;
align-items:center;
position:relative
}
.product__img-pink{position:absolute;width:74%;/* margin-top: 10px; */left:35px;height:auto;}
.s2{
display:block;
top:49px;
left:-1px;
width:85%;
height:100%;
min-width:186px;
max-width:320px;
position:relative
}
.s23{
height:280px;
display:flex;
justify-content:center;
align-items:center;
background:#FFF;
box-shadow:25px 25px 40px -34px #808080;
position:relative
}
.s234{
display:block
}
.section-two_content-lidtitle{
    margin-left:5px;
    margin-top:25px;
    margin-bottom: 3px;
    font-size:20px;
    line-height:20px;
}
.section-two_content-title{
margin:0px 0 12px 8px;

padding:0 0 0 0;
font-size:10px;
line-height:11px;
letter-spacing:0.07em;
color:#333f
}
.section-two_content-subtitle{
margin:0 0 5px 7px;
width:252px;
font-size:9px;
line-height:1.45em;
}
.section-two_content_collor-option{
margin-left:4px;
padding-top:0;
margin-bottom:25px;
width:265px
}
.col{
margin-top:-5px;
margin-left:5px;
display:flex;
justify-content:space-between;
align-items:center;
width:50%
}
.option-grey{
background:#DEDEDE
}
.option-red{
background:#F29F9F
}
.option-blue{
background:#A8BFF9
}
.option-green{
background:#90BD8F
}
.red-big{
width:40px;
height:40px
}
.collor-option{
border-radius:50%;
float:left;
left:5px;
width:23px;
height:23px;
margin-right:3.8%;
margin-top:15px
}
.collor-option:hover{
width:30px;
height:30px
}
.section-two_content_price{
padding-right:0;
position:relative;
float:right;
top:-45px;
margin-right:14px;
font-size:20px;
line-height:28px;
padding-bottom:px
}
.section-two_content_button-basket{
text-decoration:none;
align-items:center;
position:relative;
float:left;
top:-31px;
margin-left:7px;
font-family:Montserrat;
font-style:normal;
font-weight:500;
font-size:13px;
line-height:0;
color:#000;
border:solid 1px #000;
padding:18px 46px 18px 48px
}
.section-two_content_button-counter,.section-three_content-counter{
display:none
}
.red-big{
width:29px;
height:29px
}
.section-two_content_link,.section-two_content_arrow{}
.section-two_content_link{width:300px;display:block;margin: 32px 0 0 16px;font:500 13px/16px Montserrat;}
.section-two_content_arrow{position:relative;float:right;top: -4px;right: 141px;cursor:pointer;z-index:1;width:250px;height:50px;margin-left:79%;}
.section-two_content_arrow:hover{
animation:arrow-1 1s linear infinite
}
.section-two_content_arrow div{
position:relative;
top:-20px;
width:240px;
height:1px;
background-color:#000;
box-shadow:0 3px 5px rgba(0,0,0,.2);
display:block
}
.section-two_content_arrow div::after{
content:'';
position:absolute;
width:5px;
height:1px;
top:-2px;
right:0;
background-color:#000;
transform:rotate(45deg)
}
.section-two_content_arrow div::before{
content:'';
position:absolute;
width:5px;
height:1px;
top:2px;
right:0;
background-color:#000;
box-shadow:0 3px 5px rgba(0,0,0,.2);
transform:rotate(-45deg)
}
.product__img-grey,.product__link-others{
display:none
}
@media (min-width:480px) and (max-width:680px){
.product__img-pink{
position:absolute;
width:70%;
left:14%;
height:auto
}
..product__img-grey,.product__link-others{
display:none
}

}
@media (min-width:680px) and (max-width:992px){
.product__wrap{
display:flex;
flex-direction:row;
justify-content:space-evenly
}
.product__wrap-img{
width:50%;
height:100%
}
.product__img-grey{
display:block
}
.product__img-grey{
position:absolute;
width:53%;
height:auto
}
.product__img-pink{
width:70%;
left:14%
}
.s2{
display:flex;
flex-direction:column;
justify-content:space-evenly;
height:80%;
width:100%;
position:relative
}

}
@media(min-width:992px){
{
border:dashed 1px red
}
.product__wrap{
height:900px;
width:100%;
display:flex;
flex-direction:row;
justify-content:space-evenly;
background-image:none
}
.product__wrap-img{
width:50%;
height:100%
}
.product__img-grey,.product__link,.product__quantity{
display:block
}
.product__img-grey{
position:absolute;
top:220px;
left:55px;
width:56%;
height:auto
}
.product__img-pink{
left:22%;
width:80%
}
.s2{
display:flex;
flex-direction:column;
justify-content:space-evenly;
height:80%;
min-width:430px;
max-width:500px;
position:relative
}
.s23{position:relative;top: 12px;margin-left: 15px;display:flex;justify-content:center;align-items:center;min-width:430px;max-width:488px;height:514px;padding-top:44px;}
.s234{
display:block;
width:80%;
height:100%
}
.select__item_checked{
width:38px;
height:38px
}
.section-two_content-lidtitle{
margin:0 0 0 5px;
font:bold 40px/41px Montserrat
}
.section-two_content-title{
margin:0 0 62px 5px;
padding:15px 0 0 0;
font:bold 16px/16px Montserrat;
letter-spacing:0.07em;
color:#333f
}
.section-two_content-subtitle{
margin:0 0 45px 5px;
width:368px;
font:normal 15px/21px Montserrat
}
.section-two_content-collor_option{
border:dashed;
align-items:center;
padding-top:0;
margin-bottom:0
}
.col{
margin-top:-11px;
display:flex;
justify-content:space-between;
align-items:center;
width:63%
}
.collor-option{
border-radius:50%;
width:30px;
height:30px
}
.collor-option:hover{
width:40px;
height:40px
}
.option-grey{
background:#DEDEDE
}
.option-red{
background:#F29F9F
}
.option-blue{
background:#A8BFF9
}
.option-green{
background:#90BD8F
}
.red-big{
width:40px;
height:40px
}
.section-two_content_price{
padding-right:0;
position:relative;
float:right;
top:-86px;
right:-84px;
margin-right:0;
font-size:20px;
line-height:28px;
font:bold 40px/56px Montserrat
}
.section-two_content_button-basket{position:absolute;float:right;top:470px;right: 66px;text-decoration:none;font: 500 13px/0px Montserrat;color:#000;border:solid 1px #000;padding: 20px 43px 20px 45px;margin-bottom: ;}
.section-two_content_button-counter{
position:relative;
float:left;
top:31px;
left:5px;
display:inline-block;
font-family:Montserrat;
font-size:15px;
display:inline-block;
text-align:center;
width:98px;
height:29px;
cursor:pointer;
border:solid 1px #000;
margin-right:0;
padding-top:12px
}
.section-two_content_button-counter>span,.section-two_content_button-counter>span::before,.section-two_content_button-counter>span::after{
display:block;
position:relative;
top:2px;
width:6px;
height:1px;
background-color:#000
}
.section-two_content_button-counter>span::before{
content:'';
top:0;
left:58px
}
.section-two_content_button-counter>span::after{
content:'';
top:-1px;
left:58px;
transform:rotate(90deg)
}
.section-two_content_button-counter>span{
top:-10px;
left:16px
}

}

.look{
background:linear-gradient(to right,#EBE3D8 102px,#000 102px,#000 143px,#EBE3D8 143px);
display:flex;
flex-flow:column;
height:597px;
position:relative
}
.look__wrap-img{background-image:url(../images/product-set.png);background-repeat:no-repeat;background-size:cover;height:261px;width: 93%;position:absolute;top: 31px;right: 14px;box-shadow:-25px 35px 40px -34px #808080;}
.look__wrap{
width:100%;
height:100%;
display:flex;
flex-flow:column;
justify-content:flex-end;
align-self:center
}
.look__container{
    /* border:dashed 1px; */
    display:flex;
    align-self:flex-end;
    justify-content:center;
    width:305px;
    height:195px;
    background-color:#FAE8E4;
    margin-right:26px;
    margin-bottom:5p;
    box-sizing:border-box;
    z-index:1;}
.look__wrap-text{/* border:dashed 1px; */margin-left: 12px;margin-top: -5px;display:flex;flex-direction:column;width: 89%;height:100%;}
.look__title{FONT-WEIGHT: 2px;margin-bottom: 2px;margin-top: 28px;}
.look__subtitle{
margin:5px 0 0
}
.look__description{margin-bottom: 22px;}
.look__cart-form{
margin-bottom:12px
}
.look__quantity,.look__created{
display:none
}
.look__cart-form{
display:flex;
justify-content:space-between
}
.look__link.button{border:1px solid #000;text-align:center;line-height:2.7em;width: 260px;}
.look__path{
display:flex;
align-self:flex-end;
align-items:center;
height:130px;
width:50%
}
.look__link.link{
    margin-top: -1px;
    position:relative;
    font-size:15px;
    line-height:18px;
    padding-bottom:15px;
    width:140px;
}
.look__link.link::after{
position:absolute;
display:block;
content:"";
width:135px;
height:12px;
background-image:url(../images/look__arrow-mob.svg);
background-repeat:no-repeat;
background-position:center
}
@media (min-width:300px) and (max-width:995px){
.section-two_content_link,.section-two_content_arrow{
display:none
}

}
@media (min-width:451px) and (max-width:991px){
.look__path{
justify-content:center
}

}
@media (min-width:451px) and (max-width:550px){
.look__wrap-img{
height:350px
}

}
@media (min-width:551px) and (max-width:700px){
.look__wrap-img{
height:450px
}

}
@media (min-width:701px) and (max-width:991px){
.look__wrap-img{
height:550px;
top:15px
}

}
@media (min-width:992px){
.look{
background:linear-gradient(to right,#EBE3D8 388px,#000 388px,#000 461px,#EBE3D8 461px);
display:flex;
height:900px
}
.look__wrap-img{
width:830px;
height:625px;
top:139px;
left:85px;
box-shadow:none
}
.look__wrap{
flex-flow:column;
justify-content:center;
width:90%;
align-self:flex-start
}
.look__container
{width:475px;height:351px;
margin-top:14px;
margin-right: 5px;
padding-top:10px;}
.look__title{
    margin-left:15px;
margin-bottom:12px;
font-size:40px;
line-height:41px
}
.look__subtitle{margin-left:15px;
font-size:16px;
line-height:16px;
margin-bottom:20px
}
.look__description{margin-left:18px;
width:368px;
font-size:15px;
line-height:21px
}
.look__quantity{
display:flex;
justify-content:space-around;
align-items:center;
width:100px;
height:44px;
border:1.5px solid #000
}
.quantity__value{
background-color:#FAE8E4;
border:0;
text-align:center
}
.look__cart-form{margin-left:15px;
height:150px;
align-items:center
}
.look__link.button{
border:1.5px solid #000;
height:44px;
line-height:3.5em;
margin-right:31px;
}
.look__path{
width:350px;
height:50px;
align-items:flex-end
}
.look__link.link{ px;width:100%;position:relative;top: 17px;font-size:13px;line-height:16px;margin-left: auto0;margin-right:-115px;}
.look__link.link::after{
position:absolute;
top:3px;
right:4px;
width:108px;
background-image:url(../images/look__arrow-desk.svg);
background-repeat:no-repeat;
background-position:center
}
.look__created{
display:flex;
align-self:flex-end;
align-items:center
}
.look__created-txt{
font-weight:bold;
font-size:12px;
line-height:15px;
width:120px;
margin-top:-45px;
margin-right:0
}
.look__created-img{
width:82px;
height:22px;
margin-right:30px;
margin-top:-52px
}

}

/* Compressor CSS Tools v.2.005:  Mon, 16 Nov 2020 10:25:37 +0300 */